<!-- Editable table -->
@{
    ViewBag.Title = "UserList";
}
@model IEnumerable<Entities.Users.User>
 
<div class="container-fluid">
 <nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#">
        <h4>Awesome<span>logo</span></h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">  
        <li> @Html.ActionLink("Url Create","create", "Home" )</li>
        <li> @Html.ActionLink("Url List","Privacy", "Home" )</li>
        <li> @Html.ActionLink("User List","UserList", "User" )</li>
        <li> @Html.ActionLink("User Create","UserCreate", "User" )</li>
        <li>@Html.ActionLink("Sign Out", "Log" , "Home")</li>
      </ul>
    </div>
  </div>
</nav>

<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    User List
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
   
      
<table class="table">
    <tr>
        <th>
           Username
        </th>
          <th>
           Password
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)    
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.Password)    
        </td>
     
        <td>
            @Html.ActionLink("", "UserUpdate", new {  id  = item .Id }, new { @class= "btn btn-success fas fa-edit" }) |
            @Html.ActionLink("", "UserDelete", new { id  = item .Id }, new { @class= "btn btn-danger far fa-trash-alt" })
        </td>
    </tr>
}

</table>
    </div>
  </div>
</div>

</div>
