@model Entities.PageUrls.PageUrl

 <nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#">
        <h4>Awesome<span>logo</span></h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">  
        <li> @Html.ActionLink("Url Create","create", "Home" )</li>
        <li> @Html.ActionLink("Url List","Privacy", "Home" )</li>
        <li> @Html.ActionLink("User List","UserList", "User" )</li>
        <li> @Html.ActionLink("User Create","UserCreate", "User" )</li>
        <li>@Html.ActionLink("Sign Out", "Index" , "Home")</li>
      </ul>
    </div>
  </div>
</nav>


<div class="card text-center" >
  <div class="card-body">
    <h3>Are you sure you want to delete this?</h3>
   <hr />
    <dl class="dl-horizontal">
        <dt>
            URL Name:
        </dt>
         <dd>
            @Html.DisplayFor(model => model.UrlName)
        </dd>
         <dt>
            URL Address:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlAddress)
        </dd>
    </dl>
  
    @using (Html.BeginForm("PageDelete", "PageUrl",  FormMethod.Post)) {
    
         @Html.HiddenFor(model => model.Id)
       
                <button type="submit" class="btn btn-labeled btn-danger">
         <span class="btn-label"><i class="fa fa-trash"></i></span>Trash</button>
    }
  </div>
</div>


   


