<!-- Editable table -->
@model IEnumerable<Entities.PageUrls.PageUrl>

<div class="container-fluid">
  <nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#">
        <h4>Awesome<span>logo</span></h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">  
        <li> @Html.ActionLink("Url Create","create", "Home" )</li>
        <li> @Html.ActionLink("Url List","Privacy", "Home" )</li>
        <li> @Html.ActionLink("User List","UserList", "User" )</li>
        <li> @Html.ActionLink("User Create","UserCreate", "User" )</li>
        <li> @Html.ActionLink("Sign Out","LogOut", "Home" )</li>
        
      </ul>
   
    </div>
  </div>
</nav>


<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    URL List
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
   
      
<table class="table">
    <tr>
        <th>
           URL Name
        </th>
          <th>
            URL Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrlName)    
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.UrlAddress)    
        </td>
     
        <td>
            @Html.ActionLink("", "Update", new {  id  = item .Id }, new { @class= "btn btn-success fas fa-edit" }) |
            @Html.ActionLink("", "Delete", new { id  = item .Id }, new { @class= "btn btn-danger far fa-trash-alt" })
        </td>

    </tr>
}

</table>
    </div>
  </div>
</div>

</div>
